#products_container {
  list-style-type: none;
  padding:0;
}

#products_container li {
  display: inline-block;
  width: 139px;
  vertical-align: top;
  margin-bottom: 15px;
  margin-right: 5px;
}

#products_container li img {
  vertical-align: bottom;
  width: 85px;
  height: 85px;
}

#products_container a:link {
  color: black;
}

#products_container a:visited {
  color: black;
}

#products_container a:active {
  color: black;
}

#products_container a:hover {
  color: black;
}
